html{
	height: 100%;
}
body{
	height: 100%;
	margin: 0;
	padding:  0;
}
#topbar{
	position:absolute;
	top:0px;
    left:0px;
	background-color: #0066ff;
	z-index: 0;
	width: 100%
	
}
h1{
	font-family: 微軟正黑體;
	font-size: 5rem;
	text-align: center;
	color: white;
}

#funsidebtn{

}
#funside{
	display: none;
	position:absolute;
	top:0px;
    left:0px;
	width: 50%;
	height: 100%;
	background-color: black;
	z-index: 1;
}